ADMIN_EMAIL=
ADMIN_PASSWORD=
AI_API_KEY=
AI_MODEL=
DATA_GOV_API_KEY=
DATA_GOV_IN_API_KEY=
GEMINI_API_KEY=
PUBLIC_APP_URL=
SUPPORT_EMAIL=
SUPPORT_PHONE_NUMBER=
TELEPHONY_PROVIDER=
TWILIO_ACCOUNT_SID=
TWILIO_API_KEY_SECRET=
TWILIO_API_KEY_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=